html, body { height: 100%; width: 100%; margin: 0;}
#whale {height: 99.5%; width: 100%;}
#whale {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; /* Nằm dưới cùng */
    background-color: #000b1e; /* Màu xanh đen sâu thẳm */
    pointer-events: none; /* Quan trọng: Để click xuyên qua cá vào map */
}